<%= form_with(model: order) do |form| %>
  <% if order.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>
      <ul>
        <% order.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <table class="table_form">
    <tr>
      <td class="col_s"><%= form.label 'Name' %></td>
      <td class="col_l"><%= form.text_field :recipient, value: current_user.name, :class=>"form_l" %></td>
    </tr>
    <tr>
      <td class="col_s"><%= form.label 'Straße' %></td>
      <td class="col_l"><%= form.text_field :street, value: current_user.street, :class=>"form_l" %></td>
    </tr>
    <tr>
      <td class="col_s"><%= form.label 'Hausnummer' %></td>
      <td class="col_l"><%= form.text_field :house_nr, value: current_user.house_nr, :class=>"form_l" %></td>
    </tr>
    <tr>
      <td class="col_s"><%= form.label 'Postleitzahl' %></td>
      <td class="col_l"><%= form.text_field :post_code, value: current_user.post_code, :class=>"form_l" %></td>
    </tr>
    <tr>
      <td class="col_s"><%= form.label 'Stadt' %></td>
      <td class="col_l"><%= form.text_field :city, value: current_user.city, :class=>"form_l" %></td>
    </tr>
    <tr>
      <td class="col_s"><%= form.label 'Telefonnummer' %></td>
      <td class="col_l"><%= form.text_field :phone, value: current_user.phone, :class=>"form_l" %></td>
    </tr>
  </table>
  <%= form.hidden_field :restaurant_id, :value => restaurant_id %>
  <div>
    <%= form.submit 'Bestätigen', class: "button" %>
  </div>
<% end %>
