<div id="<%= dom_id order %>">
  <p>
    <strong>Eingegangen:</strong>
    <%= localize(order.created_at, :format => :long) %>
  </p>
  <p>

  </p>
  <table>
    <tr><th><strong>Lieferung an:</strong></th></tr>
    <tr><td><%= order.recipient %></td></tr>
    <tr><td><%= "#{order.street} #{order.house_nr}" %></td></tr>
    <tr><td><%= "#{order.post_code} #{order.city}" %></td></tr>
    <tr><td><%= order.phone %></td></tr>
  </table>
  <table>
    <tr><th colspan="3"><strong>Bestellung:</strong></th></tr>
    <%= render(order.line_items) %>
    <tfoot>
    <tr>
      <th colspan="2">Summe:</th>
      <td class="price"><%= number_to_currency(order.total_price, unit: :€, format: "%n %u") %></td>
    </tr>
    </tfoot>
  </table>
  <p><strong>Status: </strong><%= order.status_to_s %></p>
</div>
