<h1>
  <%= "Ihre Bestellungen" %>
</h1>
<div id="orders">
  <% @orders.order(created_at: :desc).each do |order| %>
    <h3><%= "Bestellung bei #{order.restaurant.name}" %></h3>
    <%= render order %>
    <% if order.can_cancel? %>
      <%= button_to 'Stornieren', order_cancel_path(id: order.id), class: "button", method: 'get' %>
    <% end %>
    <hr>
  <% end %>
</div>