<div id="cart" class="carts">
  <%= render_if @cart && @cart.line_items.any?, @cart %>
</div>
<h1>Details zu Ihrer Bestellung</h1>
<%= render "form", order: @order, :restaurant_id => @cart.restaurant.id %>
<br>