<h2>Einloggen</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <table class="table_form">
    <tr>
      <td class="col_s"><%= f.label 'Email' %></td>
      <td class="col_l"><%= f.email_field :email, autofocus: true, autocomplete: "email", :class => "form_l" %></td>
    </tr>
    <tr>
      <td class="col_s"><%= f.label 'Passwort' %></td>
      <td class="col_l"><%= f.password_field :password, autocomplete: "current-password", :class => "form_l" %></td>
    </tr>
  </table>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label "Angemeldet bleiben" %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Bestätigen", class: "button" %>
  </div>
<% end %>
<hr>
<%= render "devise/shared/links" %>
