<% if notice %>
  <aside id= "notice"><%=notice %></aside>
<%end %>

<ul class="catalog">
  <% cache @products do %>
  <% @products.each do |product| %>
      <% cache product do %>
    <li>
      <%= image_tag(product.image_url) %>
      <h2><%= product.title %></h2>
      <p>
        <%= sanitize(product.description) %>
      </p>
      <div class="price">
        <!--Formatstring; float; Fließkommazahl mit Genauigkeit 2 Nachkommastellen -->
       <!--  sprintf("$%0.02f", product.price)  -->
        <%= number_to_currency(
              product.price, unit: :€, format: "%n %u") %>
        <!-- Line items path: haben as geschrieben, viele Routenhelper generiert: button kann zu route zeigen
        .../rails/info/routes
        stire.index
        line items path
        helper generiert bestimmte url
        -->
        <%= button_to "Add to Cart",
                      line_items_path(product_id: product),
                      remote: true %>
      </div>
    </li>
      <% end %>
    <% end %>
  <% end %>
</ul>
