<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Genre</th>
    <th>Body</th>
    <th>Picture</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @reviews.each do |review| %>
    <tr>
      <td><%= review.name %></td>
      <td><%= review.genres.map(&:name) %></td>
      <td><%= review.body %></td>
      <td><%# review.picture_id %></td>
      <% if current_user.admin %>
      <td><%= link_to 'Edit', edit_review_path(review) %></td>
      <td><%= link_to 'Destroy', review, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <%end %>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Review', new_review_path, :class => "btn btn-primary btn-sm" %>
<%= link_to 'Home', home_index_path, :class => "btn btn-primary btn-sm" %>