<p>
  <strong>Name:</strong>
  <%= @review.name %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @review.genres.map(&:name).join(", ") %>
</p>

<p>
  <strong>Autor:</strong>
  <%= @review.user.email %>
</p>

<p>
  <strong>Body:</strong>
  <%= @review.body %>
</p>