<h1>Editing Review</h1>

<%= render 'form', review: @review %>

<%= link_to 'Show', @review, :class => "btn btn-primary btn-sm" %>
<%= link_to 'Back', reviews_path, :class => "btn btn-primary btn-sm" %>
