<p id="notice"><%= notice %></p>

<h1>Reviews</h1>

<%= render 'reviews/search_form.html.erb' %>

<table>
  <thead>
    <tr>
      <th>Picture</th>
      <th><%= sort_link(@q, :name, "Name")%></th>
      <th>Genre</th>
      <th>Autor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reviews.each do |review| %>
      <tr>
        <td><%# review.picture_id %></td>
        <td><%=link_to review.name, review_page_path(review.id)%></td>
        <td><%= review.genres.map(&:name).join(", ") %></td>
        <td><%= review.user.email %></td>
        <td><%= link_to 'Show', review %></td>
        <% if current_user.admin %>
        <td><%= link_to 'Edit', edit_review_path(review) %></td>
        <td><%= link_to 'Destroy', review, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user.admin %>
<%= link_to 'New Review', new_review_path, :class => "btn btn-primary btn-sm" %>
<%end %>
<%= link_to 'Home', home_index_path, :class => "btn btn-primary btn-sm" %>
