<p id="notice"><%= notice %></p>

<%= render @review %>



<%= link_to 'Edit', edit_review_path(@review), :class => "btn btn-primary btn-sm" %>
<%= link_to 'Back', reviews_path, :class => "btn btn-primary btn-sm" %>
