<h1>
  Meine Restaurants
</h1>
<div id="restaurants">
  <% @restaurants.each do |restaurant| %>
    <%= render restaurant %>
    <div>
      <%= button_to "Bearbeite dieses Restaurant", edit_restaurant_path(id: restaurant), method: 'get', class: "button" %>
      <br>
      <%= button_to "Zeige Bestellungen dieses Restaurants", dashboard_orders_path(restaurant_id: restaurant), method: 'get', class: "button" %>
    </div>
  <% end %>
</div>