<h1>
  <%= "Bestellungen Ihres Restaurants #{@restaurant.name}" %>
</h1>
<div id="orders">
  <% @orders.order(created_at: :desc).each do |order| %>
    <%= render order %>
    <% if order.can_accept? %>
      <%= button_to 'Akzeptieren', order_accept_path(id: order.id), method: 'get', class: "button" %>
      <br>
    <% end %>
    <% if order.can_reject? %>
      <%= button_to 'Ablehnen', order_reject_path(id: order.id), method: 'get', class: "button" %>
      <br>
    <% end %>
    <% if order.can_go? %>
      <%= button_to 'Bestellung losschicken', order_go_path(id: order.id), method: 'get', class: "button" %>
      <br>
    <% end %>
    <% if order.can_deliver? %>
      <%= button_to 'Bestellung wurde zugestellt', order_deliver_path(id: order.id), method: 'get', class: "button" %>
      <br>
    <% end %>
    <hr>
  <% end %>
</div>