
<nav class="navbar navbar-expand-lg navbar-dark bg-primary ps-3 justify-content-between mb-5">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= image_tag("chef", :style => "width: 30px;" ) %>
      </li>
      <li class="nav-item active">
        <%= link_to "Home", root_path ,class:"nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Category", categories_path ,class:"nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Favorites", favorites_path ,class:"nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "My Recipes", my_recipes_path ,class:"nav-link" %>
      </li>

    </ul>
  </div>

  <div class="row">
    <% if user_signed_in? %>
      <div class="col">
        <%= button_to "Sign out", destroy_user_session_path,class:"btn btn-primary", method: :delete %>
      </div>
    <% else %>
    <div class="col">
      <%= button_to "Sign in", new_user_session_path ,class:"btn btn-primary"%>
    </div>

    <% end %>
  </div>

</nav>