<% if user_signed_in? %>
  <div> Welcome <%= current_user.email %> </div>
  <%= button_to "Sign out", destroy_user_session_path, method: :delete %>
<% else %>
  <%= button_to "Sign in", new_user_session_path %>
<% end %>
<div class="jumbotron">
  <div class="container">
    <h1>Want to Read Reviews?</h1>
    <p>Are you ready to learn about reviews?</p>
    <%= content_for?(:content) ? yield(:content) : yield %>
    <%= render "home/reviews_homepage" %>
    <br>
    <p>
      <%= button_to 'Get Review Info', reviews_path, :method => :get,  :class => "btn btn-primary btn-lg"%>
    </p>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <h3>Hallo</h3>
      <p>Auf dieser Seite soll es Reviews geben
      </p>
    </div>
    <div class="col-lg-6">
      <h3>Reviews sind cool</h3>
      <p>Aber hoffentlich funktioniert auch alles
      </p>
    </div>
  </div>
</div>
