<h1>Reviews</h1>

<table>
  <thead>
    <tr>
      <th>Picture</th>
      <th>Name</th>
      <th>Genre</th>
      <th>Autor</th>
      <th>Body</th>
      <th>Comments</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%# review.picture_id %></td>
        <td><%= @review.name%></td>
        <td><%= @review.genres.map(&:name).join(", ") %></td>
        <td><%= @review.user.email %></td>
        <td><%= @review.body %></td>
        <td>von: <%= @review.comments.map{|comment| [comment.email, comment.body]}.join(", ") + ("; ")%></td>
        <td><%= link_to 'Show', @review %></td>
        <td><%= link_to 'Edit', edit_review_path(@review) %></td>
        <td><%= link_to 'Destroy', @review, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  </tbody>
</table>


<%= render 'review_pages/form' %>


<br>

<%= link_to 'New Review', new_review_path, :class => "btn btn-primary btn-sm" %>
<%= link_to 'Home', home_index_path, :class => "btn btn-primary btn-sm" %>