/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

img {
  margin-top: 1em;
  width: 128px;
}

button {
  padding: 1em;
  width: 30%;
}

.button {
  padding: 1em;
  width: 30%;
  white-space: normal;
}

.button_sidenav {
  padding: 1em;
  width: 90%;
  white-space: normal;
}

.form {
  width: 30%;
  margin: 1em;
}

table {
  margin-left: auto;
  margin-right: auto;
}

#notice {
  margin-left: 3em;
  margin-right: 3em;
  padding: 1em;
  border-width: 3px;
  border-style: solid;
  border-color: #f26522;
}

.content {
  position: fixed;
  overflow-y:scroll;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: auto;
  width: 70%;
  text-align: center;
  top: 0;
  bottom:0;
  right: 0;
  overflow-x:hidden;

  #cart {

    article {
      h2 {
        margin-top: 0;
      }
      background-color: rgba(0, 9, 54, 0.66);
      border-radius: 0.5em;
      margin: 1em;
      padding: 1.414em;
    }
  }

  .sidenav {
    height: 100%;
    position: fixed;
    width: 30%;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0, 9, 54, 0.66);
    overflow-x: hidden;

    #img_logo {
      width: 90%;
    }

    button {
      width: 90%;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        margin: 0;
        padding: 0.5em;
      }
    }
  }
  main {
    padding: 0.5em;
  }
  .table_form {
    width: 80%;
  }
  .col_s {
    width: 20%;
  }
  .col_l {
    width: 60%;
  }
  .form_l {
    width: 100%;
  }
}
