<h2>Passwort vergessen</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <table class="table_form">
    <tr>
      <td class="col_s"><%= f.label 'Email' %></td>
      <td class="col_l"><%= f.email_field :email, autofocus: true, autocomplete: "email", :class => "form_l" %></td>
    </tr>
  </table>

  <div class="actions">
    <%= f.submit "Bestätigen", class: "button" %>
  </div>
<% end %>
<hr>

<%= render "devise/shared/links" %>
