<% if notice %>
  <aside id="notice"><%= notice %></aside>
<% end %>

<h1>Mein kuhler Store!</h1>

<ul class="catalog">
  <% cache @products do %>
    <% @products.each do |product| %>
      <% cache product do %>
        <li>
          <%= image_tag(product.image_url) %>
          <h2><%= product.title %></h2>
          <p>
            <%= sanitize(product.description) %>
          </p>
          <div class="price">
            <%= number_to_currency(product.price, unit: :€, format: "%n %u") %>
            <%= button_to "Add to Cart", line_items_path(product_id: product), remote: true %>
          </div>
        </li>
      <% end %>
    <% end %>
  <% end %>
</ul>
