<h2>Account bearbeiten</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>
  <table class="table_form">
    <tr>
      <td class="col_s"><%= f.label 'Email' %></td>
      <td class="col_l"><%= f.email_field :email, autofocus: true, autocomplete: "email", :class => "form_l" %></td>
    </tr>
    <tr>
      <td class="col_s">
        <%= f.label 'Passwort' %>
        <% if @minimum_password_length %>
          <em>(mindestens <%= @minimum_password_length %> Zeichen)</em>
        <% end %>
      </td>
      <td class="col_l"><%= f.password_field :password, autocomplete: "new-password", :class => "form_l" %></td>
    </tr>
    <tr>
      <td class="col_s"><%= f.label 'Passwort bestätigen' %></td>
      <td class="col_l"><%= f.password_field :password_confirmation, autocomplete: "new-password", :class => "form_l" %></td>
    </tr>
    <tr>
      <td class="col_s"><%= f.label 'Name' %></td>
      <td class="col_l"><%= f.text_field :name, :class=>"form_l" %></td>
    </tr>
    <tr>
      <td class="col_s"><%= f.label 'Straße' %></td>
      <td class="col_l"><%= f.text_field :street, :class=>"form_l" %></td>
    </tr>
    <tr>
      <td class="col_s"><%= f.label 'Hausnummer' %></td>
      <td class="col_l"><%= f.text_field :house_nr, :class=>"form_l" %></td>
    </tr>
    <tr>
      <td class="col_s"><%= f.label 'Postleitzahl' %></td>
      <td class="col_l"><%= f.text_field :post_code, :class=>"form_l" %></td>
    </tr>
    <tr>
      <td class="col_s"><%= f.label 'Stadt' %></td>
      <td class="col_l"><%= f.text_field :city, :class=>"form_l" %></td>
    </tr>
    <tr>
      <td class="col_s"><%= f.label 'Telefonnummer' %></td>
      <td class="col_l"><%= f.text_field :phone, :class=>"form_l" %></td>
    </tr>
    <tr>
      <td class="col_s"><%= f.label 'Aktuelles Passwort' %></td>
      <td class="col_l"><%= f.password_field :current_password, autocomplete: "current-password", :class => "form_l" %></td>
    </tr>
  </table>
  <div class="actions">
    <%= f.submit "Bestätigen", class: "button" %>
  </div>
  <hr>
<% end %>
<%= button_to "Account löschen", registration_path(resource_name), class: "button", data: { confirm: "Sind Sie sicher?", turbo_confirm: "Sind Sie sicher?" }, method: :delete %>
