<h2>Registrieren</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <table class="table_form">
    <tr>
      <td class="col_s"><%= f.label 'Email' %></td>
      <td class="col_l"><%= f.email_field :email, autofocus: true, autocomplete: "email", :class => "form_l" %></td>
    </tr>
    <tr>
      <td class="col_s">
        <%= f.label 'Passwort' %>
        <% if @minimum_password_length %>
          <em>(mindestens <%= @minimum_password_length %> Zeichen)</em>
        <% end %>
      </td>
      <td class="col_l"><%= f.password_field :password, autocomplete: "new-password", :class => "form_l" %></td>
    </tr>
    <tr>
      <td class="col_s"><%= f.label 'Passwort bestätigen' %></td>
      <td class="col_l"><%= f.password_field :password_confirmation, autocomplete: "new-password", :class => "form_l" %></td>
    </tr>
  </table>

  <div class="actions">
    <%= f.submit "Bestätigen", class: "button" %>
  </div>
<% end %>
<hr>

<%= render "devise/shared/links" %>
