<div class="container p-3">
  <div class="row row-cols-1 row-cols-md-4 g-4">
    <% @recipes.each do |recipe| %>
      <%= link_to recipe, { class: "link" } do %>
        <div class="col h-100">
          <div class="card h-100">
            <% if recipe.recipeImage.attached? %>
              <img src="<%= (url_for(recipe.recipeImage)) %>">
            <% else %>
              <%= image_tag(recipe.image_url ) %>
            <% end %>

            <div class="card-body">
              <h5 class="card-title"><%= recipe.titel %></h5>
              <p>
                <%= @users.find_by(id:recipe.user_id).email %>
              </p>
              <div>
                <p>
                  <%= sanitize(recipe.description[0..50]) %>
                </p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>


