<div class="row justify-content-center p-2">
  <div class="col-8 recipes" <% if @recipe.recipeImage.attached? %>
       style="background-image: url(<%= rails_blob_url(@recipe.recipeImage)%>)"<% else %>
       style="background-image: url(<%= asset_path  @recipe.image_url %>)"
       <% end %> ;>
    <div style=" position: relative;">
      <% if user_signed_in?%>
        <% if @recipe.user_id != current_user.id%>

            <%= link_to toggle_favorite_recipe_path(@recipe),remote: true, method: :post   do %>
            <div class="like-icon mx-2 <%= 'red' if current_user.favorited?(@recipe) %>" data-id="<%= @recipe.id %>">
              <i class="fas fa-heart"></i>
            </div>
            <% end %>

        <% else %>
          <div class="dropdown">
            <i class="fa fa-ellipsis-v" style="color:white" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-hidden="true"></i>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <%= link_to 'Delete', @recipe, method: :delete, data: { confirm: 'Are you sure?' } ,class:"dropdown-item"%>
              <%= link_to 'Edit', edit_recipe_path(@recipe),class:"dropdown-item" %> |
            </div>
          </div>
        <% end %>
      <% else %>
        <%= button_to toggle_favorite_recipe_path(@recipe),class:"btn btn-outline-primary",method: :post do %>
          <i class="fa-regular fa-heart" style="color:red"></i>
        <% end %>
      <% end %>
      <p class="h1 text-center text-warning mb-3" ><%=  @recipe.titel %></p>
    </div>
  </div>
</div>