<div id="<%= dom_id dish %>">
  <h2><%= dish.name %></h2>
  <p>
    <%= dish.ingredients %>
  </p>
  <div class="price">
    <%= number_to_currency(dish.price, unit: :€, format: "%n %u") %>
  </div>
</div>
