<%= form_with(model: dish) do |form| %>
  <% if dish.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(dish.errors.count, "error") %> prohibited this dish from being saved:</h2>
      <ul>
        <% dish.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <table class="table_form">
    <tr>
      <td class="col_s"><%= form.label 'Name' %></td>
      <td class="col_l"><%= form.text_field :name, :class => "form_l" %></td>
    </tr>
    <tr>
      <td class="col_s"><%= form.label "Beschreibung" %></td>
      <td class="col_l"><%= form.text_field :ingredients, :class => "form_l" %></td>
    </tr>
    <tr>
      <td class="col_s"><%= form.label 'Preis' %></td>
      <td class="col_l"><%= form.number_field :price, step: 0.01, :class => "form_l" %></td>
    </tr>
    <tr>
      <td class="col_s"><%= form.label 'Kategorie' %></td>
      <td class="col_l"><%= form.select :dish_category_id, options_for_select(categories), :class => "form_l" %></td>
    </tr>
  </table>
  <%= form.hidden_field :restaurant_id, :value => restaurant_id %>
  <div>
    <%= form.submit 'Bestätigen', class: "button" %>
  </div>
<% end %>
