<h1><%= @dish.name %></h1>
<%= render "form", dish: @dish, :restaurant_id => @restaurant.id %>
<hr>
<div>
  <%= button_to "Abbrechen", menu_edit_path(restaurant_id: @dish.restaurant), class: "button", method: 'get' %>
</div>
