<h1>Details zu Ihrem Gericht</h1>
<%= render "form", dish: @dish, :restaurant_id => @restaurant.id %>
<hr>
<div>
  <%= button_to 'Neue Kategorie einführen', dish_category_new_path(restaurant_id: @restaurant), class: "button", method: 'get' %>
  <br>
  <%= button_to "Zurück zur Übersicht", menu_edit_path(restaurant_id: @restaurant), class: "button", method: 'get' %>
</div>
