<%= form_with(model: genre_page) do |form| %>
  <% if genre_page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(genre_page.errors.count, "error") %> prohibited this genre_page from being saved:</h2>

      <ul>
        <% genre_page.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
