<p id="notice"><%= notice %></p>

<h1>Genre Pages</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  <% @genres.each do |genre| %>
    <tr>
      <td><%= genre.name %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Genre Page', new_genre_page_path %>
