<p class="notice"><%= notice %></p>

<div class="button back_button" onclick="location.href='<%= posts_path %>'">
  <h1><</h1>
</div>

<div style="text-align: center">
  <h1 style="font-size: 48px"><%= @user.username %></h1>
</div>
<div style="text-align: center">
  <img style="object-fit: cover" src=<%= @user.avatar %> width="200px" height="200px">
</div>

<br>

<div style="width: 90%; margin: 0 auto ;text-align: center; border: thin solid #666666; background: #212121">
  <h1>Other Posts From This User:</h1>
</div>

<div class="grid_container">
  <% @posts.each do |post| %>
    <div class="post_container">
      <h2><%= post.title %></h2>
      <img style="object-fit: cover" src=<%= post.image %> width="90%" height="360px">
      <div style="display: grid; grid-template-columns: 40% 40%; column-gap: 20%; padding: 5px">
        <div style="cursor: pointer" class="user_mini_profile" onclick="location.href='/users/<%= post.user_id %>'">
          <div>
            <img style="object-fit: cover" src=<%= post.user.avatar %> width="40px" height="40px">
          </div>
          <div>
            <p><%= post.user.username %></p>
          </div>
        </div>
        <div style="background: #f1571f; border: thick solid #d94b14; border-radius: 5px; cursor: pointer" onclick="location.href='/posts/<%= post.id %>'">
          <p style="scale: 120%">View Post</p>
        </div>
      </div>
    </div>
  <% end %>
</div>