<nav class="navbar navbar-dark navbar-static-top navbar-expand-md">
  <div class="container">
    <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle navigation</span>
    </button> <%= link_to "Everything Reviews", root_path, class: 'navbar-brand' %>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav mr-auto">
        <li class='nav-item'><%= link_to 'Home', home_index_path, class: 'nav-link' %></li>
        <li class='nav-item'><%= link_to 'Review', reviews_path, class: 'nav-link' %></li>
        <li class='nav-item'><%# link_to 'Kategorien', genre_pages_path, class: 'nav-link' %></li>

        </li>
      </ul>
    </div>
  </div>
</nav>