<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Reviews" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "About Reviews" %>">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
    <%= render 'layouts/navigation' %>
  </header>
  <% if notice %> <p class="alert alert-success"><%= notice %></p> <% end %>
  <% if alert %> <p class="alert alert-danger"><%= alert %></p> <% end %>
  <main role="main">
    <%= content_for?(:content) ? yield(:content) : yield %>
  </main>
  </body>
</html>
