
<section class="vh-100">

  <div class="container py-5 h-100">
    <div class="row d-flex align-items-center justify-content-center h-100">
      <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
        <h2>Log in</h2>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <!-- Email input -->
          <div class="form-outline mb-4">
            <%= f.label :email,class:'form-label'%><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email",class: 'form-control form-control-lg'%>
          </div>
          <!-- Password input -->
          <div class="form-outline mb-4">
            <%= f.label :password, class:'form-label'%><br />
            <%= f.password_field :password, autocomplete: "current-password",class: 'form-control form-control-lg' %>
          </div>
          <div class="d-flex justify-content-around align-items-center mb-4">
            <!-- Checkbox -->
            <div class="form-check">
              <%= f.check_box :remember_me,class:'form-check-input'%>
              <%= f.label :remember_me,class:'form-check-label'%>

            </div>
            <a href="#!">Forgot password?</a>
          </div>
          <!-- Submit button -->
          <%= f.submit "Log in",class: "btn btn-primary btn-lg col-12" %>
          <div class="divider d-flex align-items-center my-4">
            <p class="text-center fw-bold mx-3 mb-0 text-muted">OR</p>
          </div>
        <% end %>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</section>

<%#= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<!--  <div class="field">-->
<!--    <%#= f.label :email %><br />-->
    <%#= f.email_field :email, autofocus: true, autocomplete: "email" %>
<!--  </div>-->

<!--  <div class="field">-->
<!--    <%#= f.label :password %><br />-->
    <%#= f.password_field :password, autocomplete: "current-password" %>
<!--  </div>-->

  <%# if devise_mapping.rememberable? %>
<!--    <div class="field">-->
      <%#= f.check_box :remember_me %>
      <%#= f.label :remember_me %>
<!--    </div>-->
  <%# end %>

<!--  <div class="actions">-->
    <%#= f.submit "Log in" %>
<!--  </div>-->
<%# end %>

<%#= render "devise/shared/links" %>
