<% if notice %>
  <aside id="notice"><%= notice %></aside>
<% end %>

<%# if user_signed_in? %>
<!--  <div> Welcome <%#= current_user.email %> </div>-->
<%#= button_to "Sign out", destroy_user_session_path, method: :delete %>


<p class="h2 text-center mb-3">Kategorien</p>
<div class="container p-3">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <% @categories.each do |category| %>
      <%= link_to show_recipes_category_path(category) do %>
        <div class="col h-100">
            <div class="card h-100">
                <%=  image_tag(category.image_url,class:'catImage')%>
              <div class="card-body">
                <h5 class="card-title"><%= category.title %></h5>
              </div>
            </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>





<%# else %>
<%#= button_to "Sign in", new_user_session_path %>
<%# end %>

