

<% if notice %>
  <aside id="notice"><%= notice %></aside>
<% end %>

<%# if user_signed_in? %>
<!--  <div> Welcome <%#= current_user.email %> </div>-->


<div class="container" style="width: 900px">
  <div class="container">
    <div class="row justify-content-center p-2">
      <div class="col backgroundImage" style="background-image: url(<%= asset_path @category.image_url %>);">
        <div style="position: relative;">
          <p class="h1 text-center text-warning mb-3" ><%= @category.title %></p>
          <p class="text-center text-white  "><%= @category.description %></p>
        </div>
      </div>
    </div>
  </div>

  <%= render '/shared/recipeCard' %>

</div>


<%# else %>
<%#= button_to "Sign in", new_user_session_path %>
<%# end %>

