<!DOCTYPE html>
<html>
  <head>
    <title>Imageboard</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user %>
      <div style="cursor: pointer; position: absolute; margin-left: 75%; margin-top: 5px" class="user_mini_profile" onclick="location.href='/users/edit'">
        <div>
          <img style="object-fit: cover" src=<%= current_user.avatar %> width="40px" height="40px">
        </div>
        <div>
          <p><%= current_user.username %></p>
        </div>
      </div>
    <% end %>
    <ul class="main_header_list">
      <li class="header_title">
        <h1><%= @page_title %></h1>
      </li>
      <ul class="main_header_list_nav">
        <li><a href="/">Home</a></li>
        <li><a href="/home">My Posts</a></li>
        <li>
          <% if current_user %>
            <a href="/posts/new">New Post</a>
          <% else %>
            <%= link_to "New Post", "/users/sign_in" %>
          <% end %>
        </li>
      </ul>
      <ul class="main_header_list_buttons">
        <% if current_user %>
          <li style="margin-left: 40%">
            <%= link_to "Logout", "/users/sign_out", method: :delete %>
          </li>
        <% else %>
          <li>
            <%= link_to "Login", "/users/sign_in" %>
          </li>
          <li>
            <%= link_to "Register", "/users/sign_up" %>
          </li>
        <% end %>
      </ul>
    </ul>
    <!--
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    -->
    <%= yield %>
  </body>
</html>
