<%= form_with(model: dish_category) do |form| %>
  <% if dish_category.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(dish_category.errors.count, "error") %> prohibited this dish_category from being saved:</h2>
      <ul>
        <% dish_category.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <table class="table_form">
    <tr>
      <td class="col_s"><%= form.label 'Name' %></td>
      <td class="col_l"><%= form.text_field :name, :class=>"form_l" %></td>
    </tr>
  </table>
  <%= form.hidden_field :restaurant_id, :value => restaurant_id %>
  <div>
    <%= form.submit 'Bestätigen', class: "button" %>
  </div>
<% end %>
