<h1>Editing dish category</h1>

<%= render "form", dish_category: @dish_category %>

<br>

<div>
  <%= link_to "Show this dish category", @dish_category %> |
  <%= link_to "Back to dish categories", dish_categories_path %>
</div>
