<p style="color: green"><%= notice %></p>

<h1>Dish categories</h1>

<div id="dish_categories">
  <% @dish_categories.each do |dish_category| %>
    <%= render dish_category %>
    <p>
      <%= link_to "Show this dish category", dish_category %>
    </p>
  <% end %>
</div>

<%= link_to "New dish category", new_dish_category_path %>
