<h1>Ihre neue Kategorie</h1>
<%= render "form", dish_category: @dish_category, :restaurant_id => @restaurant_id %>
<hr>
<%= button_to 'Zurück zum Gericht', dish_new_path(restaurant_id: @restaurant), class: "button", method: 'get' %>
