<p style="color: green"><%= notice %></p>

<%= render @dish_category %>

<div>
  <%= link_to "Edit this dish category", edit_dish_category_path(@dish_category) %> |
  <%= link_to "Back to dish categories", dish_categories_path %>

  <%= button_to "Destroy this dish category", @dish_category, method: :delete %>
</div>
