<%#
  Views that use this partial must supply the following variables:
  thread
  user
%>

<div id="commontator-thread-<%= thread.id %>-reply" class="reply">
  <% if thread.is_closed? %>
    <p><%= t 'commontator.thread.status.cannot_post' %></p>
  <% elsif !user %>
    <p><%= t 'commontator.require_login' %></p>
  <% else %>
    <% if @commontator_new_comment.nil? %>
      <div id="commontator-thread-<%= thread.id %>-new-comment-link" class="new-comment">
        <%= link_to t('commontator.comment.actions.new'),
            commontator.new_thread_comment_path(thread),
            remote: true %>
      </div>
    <% end %>

    <div id="commontator-thread-<%= thread.id %>-new-comment" class="new-comment<%=
    @commontator_new_comment.nil? ? ' commontator-hidden' : '' %>">
      <% unless @commontator_new_comment.nil? %>
        <%=
          render partial: 'commontator/comments/form', locals: {
            comment: @commontator_new_comment, thread: thread
          }
        %>
      <% end %>
    </div>
  <% end %>

  <br>
</div>
