<% if notice %>
  <aside id="notice"><%= notice %></aside>
<% end %>

<%# if user_signed_in? %>
<!--  <div> Welcome <%#= current_user.email %> </div>-->

<p class="h2 text-center mb-3">Was koche ich heute?</p>
<%= render '/shared/recipeCard' %>

<%# else %>
  <%#= button_to "Sign in", new_user_session_path %>
<%# end %>

