<h1>
  <%= "Speisekarte von #{@restaurant.name}" %>
</h1>
<%= button_to 'Neues Gericht anlegen', dish_new_path(restaurant_id: @restaurant), class: "button", method: 'get' %>
<div id="dishes">
  <% @dishes.each do |dish| %>
    <%= render dish %>
    <div>
      <%= button_to "Gericht bearbeiten", edit_dish_path(id: dish), class: "button", method: 'get' %>
      <br>
      <%= button_to "Gericht löschen", dish, class: "button", method: :delete %>
    </div>

<% end %>
</div>