<div id="cart" class="carts">
  <%= render_if @cart && @cart.line_items.any?, @cart %>
</div>
<h1><%= @restaurant.name %></h1>
<hr>
<div id="dishes">
  <% @categories.each do |category| %>
    <h3 id=<%= "#{category.second}" %>><%= category.first %></h3>
    <hr>
    <% @dishes.where(dish_category: category).each do |dish| %>
      <%= render dish %>
      <%= button_to "Hinzufügen", line_items_path(dish_id: dish), class: "button", remote: true %>
    <% end %>
    <hr>
  <% end %>
</div>