<%= form_with(model: post) do %>
  <%= link_to downvote_post_path(post), method: :patch, remote: true do %>
    <%= content_tag "div", id: "downvote-#{post.id}" do %>
      <% if current_user.voted_down_on? post %>
        <i class="fa-sharp fa-solid fa-chevron-down fa-4x" style="color: red"></i>
      <% else %>
        <i class="fa-sharp fa-solid fa-chevron-down fa-4x" style="color: #f0f0f0"></i>
      <% end %>
    <% end %>
  <% end %>
<% end %>