<%= form_with(model: post) do %>
  <div class="grid_container">
    <% @posts.each do |post| %>
      <div class="post_container">
        <h2><%= post.title %></h2>
        <img style="object-fit: cover" src=<%= post.image %> width="90%" height="360px">
        <div style="display: grid; grid-template-columns: 40% 40%; column-gap: 20%; padding: 5px">
          <div style="cursor: pointer" class="user_mini_profile" onclick="location.href='/users/<%= post.user_id %>'">
            <div>
              <img style="object-fit: cover" src=<%= post.user.avatar %> width="40px" height="40px">
            </div>
            <div>
              <p><%= post.user.username %></p>
            </div>
          </div>
          <div style="background: #f1571f; border: thick solid #d94b14; border-radius: 5px; cursor: pointer" onclick="location.href='/posts/<%= post.id %>'">
            <p style="scale: 120%">View Post</p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>