<%= form_with(model: post) do %>
  <%= link_to upvote_post_path(post), method: :patch, remote: true do %>
    <%= content_tag "div", id: "upvote-#{post.id}" do %>
      <% if current_user.voted_up_on? post %>
        <i class="fa-sharp fa-solid fa-chevron-up fa-4x" style="color: green"></i>
      <% else %>
        <i class="fa-sharp fa-solid fa-chevron-up fa-4x" style="color: #f0f0f0"></i>
      <% end %>
    <% end %>
  <% end %>
<% end %>