<h1 style="text-align: center">Editing Post</h1>

<div class="field_container">
  <%= render 'form-edit', post: @post %>
</div>

<div style="text-align: center">
  <%= link_to 'Back to Post', @post %> |
  <%= link_to 'Back to Home', '/' %>
</div>
