<body>

<ul class="home_header">
  <li class="header_search">
    <%= search_form_for @q do |f| %>
      <%= f.label :title_cont %>
      <%= f.search_field :title_cont %>

      <%= f.submit "Search" %>
    <% end %>
  </li>
  <ul class="home_header_filters">
    <li><%= sort_link @q, :created_at, "New"%></li>
    <li><a href="/">Popular</a></li>
    <li><a href="/">Category</a></li>
  </ul>
</ul>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= render 'post-container', post: @post %>

</body>