<p class="notice"><%= notice %></p>

<div class="button back_button" onclick="location.href='<%= posts_path %>'">
  <h1><</h1>
</div>

<div style="text-align: center">
  <h1><%= @post.title %></h1>
</div>

<div style="text-align: center">
  <img src=<%= @post.image %> width="60%">
</div>

<% if current_user == @post.user %>
  <div style="margin: 0 auto; width: 60%; display: grid; grid-template-columns: 40% 40%; column-gap: 10%; padding: 10px; border: thin solid #666666; background: #333333; justify-content: center">
    <div class="button show_edit_button" onclick="location.href='<%= edit_post_path(@post) %>'">
      <h2>Edit Post</h2>
    </div>


    <%= link_to @post, method: :delete, data: { confirm: 'Are you sure you want to delete this post?'} do %>
      <div class="button show_delete_button">
        <h2>Delete Post</h2>
      </div>
    <% end %>

  </div>
<% end %>

<br>

<div style="margin: 0 auto; width: 60%; display: grid; grid-template-columns: 20% 60%; column-gap: 10%; padding: 10px; border: thin solid #666666; background: #333333; justify-content: center">
  <div style="display: grid; grid-template-columns: 40% 40%; column-gap: 10%">
    <% if current_user %>
      <div>
        <%= render 'upvote', post: @post %>
        <%= render 'downvote', post: @post %>
      </div>
    <% else %>
      <div>
        <div>
          <i class="fa-sharp fa-solid fa-chevron-up fa-4x" style="color: grey"></i>
        </div>
        <div>
          <i class="fa-sharp fa-solid fa-chevron-down fa-4x" style="color: grey"></i>
        </div>
      </div>
    <% end %>
    <div id="<%= "likes-#{@post.id}" %>" style="padding: 25% 0">
      <%= render 'likes', post: @post %>
    </div>
  </div>

  <div style="cursor: pointer" class="user_mini_profile" onclick="location.href='/users/<%= @post.user_id %>'">
    <div>
      <img style="object-fit: cover" src=<%= @post.user.avatar %> width="80px" height="80px">
    </div>
    <div>
      <p style="font-size: 32px; padding: 20px 0"><%= @post.user.username %></p>
    </div>
  </div>
</div>

<br>

<div style="width: 60%; margin: 0 auto; border: thin solid #666666; background: #212121; padding: 10px">
  <h1 style="text-align: center">Description:</h1>
  <p style="font-size: 20px; padding: 20px"><%= @post.description %></p>
</div>

<br>

<div style="width: 60%; margin: 0 auto;">
  <%= commontator_thread(@commontable) %>
</div>


