document.getElementById("likes-<%= @post.id %>").innerHTML = "<%= j render "posts/likes", post: @post %>";
document.getElementById("downvote-<%= @post.id %>").innerHTML = "<%= j render "posts/downvote", post: @post %>";
document.getElementById("upvote-<%= @post.id %>").innerHTML = "<%= j render "posts/upvote", post: @post %>";
