
<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex align-items-center justify-content-center h-100">
      <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
        <h2>Create a New Recipe</h2>
        <%= form_with model: recipe do |form| %>
          <% if recipe.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>
              <ul>
                <% recipe.errors.each do |error| %>
                  <li><%= error.full_message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
          <!-- Titel input -->
          <div class="form-outline mb-4">
            <%= form.label :title,class:'form-label'%><br />
            <%= form.text_field :titel,class: 'form-control form-control-lg' ,placeholder:"Enter your title here",:required => true %>
          </div>
          <!-- Description input -->
          <div class="form-outline mb-4">
            <%= form.label :description,class:'form-label' %>
            <%= form.text_area :description,class: 'form-control form-control-lg',placeholder:"Enter your description here",:required => true %>
          </div>

          <!-- Directions input -->
          <div class="form-outline mb-4">
            <%= form.label :directions,class:'form-label' %>
            <%= form.text_area :directions,class: 'mb-5 form-control form-control-lg',placeholder:"Enter your directions here" %>
            <%= form.rich_text_area :content %>

          </div>

          <!-- Ingredients -->
          <div class="form-outline mb-4">
            <%= form.label :ingredients,class:'form-label' %>
            <%= form.fields_for :ingredients do |ingredient| %>
              <%= ingredient.text_field :text,class: 'form-control form-control-lg',placeholder:"Enter your ingredients here" %>
            <% end %>
            <div class="form-actions mt-2 ">
              <%= form.submit 'Add ingredient', :name => "add_ingredient" ,class: "btn btn-primary"%>
            </div>
          </div>

          <!-- User Id input, hidden -->
          <div class="form-outline mb-4">
            <%= form.text_field :user_id ,type:'hidden',value:current_user.id %>
          </div>


          <!-- Upload Image -->
          <div class="form-outline mb-4">
            <%= form.label "please upload an image",class:'form-label' %>
            <%= form.file_field :recipeImage %>
          </div>
          <!-- Category Dropdown Menu -->
          <div class="form-outline mb-4">
            <%= form.label :category_id %>
            <%= form.select :category_id, options_for_select(Category.all.map{ |c| [c.title, c.id] }), { include_blank: true } %>
          </div>

          <!-- Submit button -->
          <%= form.submit "Create Recipe",class: "btn btn-primary btn-lg btn-block" %>
        <% end %>
      </div>
    </div>
  </div>
</section>



