<p id="notice"><%= notice %></p>

<div class="container">
  <%= render '/shared/recipeInhalt' %>
  <hr/>
  <div class="row justify-content-center p-2">
    <div class="col-8">
      <p>
        <strong>Description:</strong>
      </p>
      <p>
        <%= @recipe.description %>
      </p>
    </div>
  </div>
  <hr/>

  <div class="row justify-content-center p-2">
    <div class="col-8">
      <p>
        <strong>Directions:</strong>
      </p>
      <%= @recipe.content %>
      <p>
        <%= @recipe.directions %>
      </p>
    </div>
  </div>
  <hr/>
</div>


<div class="row justify-content-center p-2">
  <div class="col-8">
    <p>
      <strong>Zutaten:</strong>
    </p>
  </div>
  <div class="col-8">
    <ul class="list-group">
      <% @ingredients.each do |ingredient| %>
        <li class="list-group-item">
          <%= ingredient.text%></li>
      <% end %>
    </ul>
  </div>
</div>


<%= link_to 'Back', root_path %>
