// Place all the styles related to the LineItems controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: https://sass-lang.com/
@keyframes line-item-highlight {
  0% {
    background: #8f8;
  }
  100% {
    background: none;
  }
}
.line-item-highlight {
  animation: line-item-highlight 1s;
}