// Place all the styles related to the Orders controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
  margin: 0;
  padding: 0;
}
header.main {
  text-align: center; // center on mobile
}

