@import "font-awesome";
@import "bootstrap";

@import 'trix/dist/trix.css';
@import "./actiontext.scss";

.link{
  text-decoration: none !important;
  color: #2E2F30;
}

 .recipes {
   border-radius: 25px;
   background-size: cover;
   background-repeat: no-repeat;
   position: relative;
   height: 600px;
   display: flex;
   align-items: end;
   justify-content: start;
   padding-left: 5% ;
   padding-bottom: 5% ;
 }.recipes::before {
     border-radius: 25px;
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.6);
  }

 a {
  text-decoration: none;
 }

 .catImage{
   width: 100%;
   height: 40vh;
   object-fit: cover;
 }

 .backgroundImage {
  background-size: cover;
  background-repeat: no-repeat;
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
 }.backgroundImage::before {
     content: "";
     position: absolute;
     top: 0px;
     right: 0px;
     bottom: 0px;
     left: 0px;
     background-color: rgba(0,0,0,0.6);
  }


.red {
  color: #ff0000;
}