// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.backgroundImage {
  background-size: cover;
  background-repeat: no-repeat;
}

