<p id="notice"><%= notice %></p>

<p>
  <strong>Text:</strong>
  <%= @ingredient.text %>
</p>

<p>
  <strong>Recipe:</strong>
  <%= @ingredient.recipe_id %>
</p>

<%= link_to 'Edit', edit_ingredient_path(@ingredient) %> |
<%= link_to 'Back', ingredients_path %>
