<%= form_with(model: restaurant) do |form| %>
  <% if restaurant.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(restaurant.errors.count, "error") %> prohibited this restaurant from being saved:</h2>
      <ul>
        <% restaurant.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <table class="table_form">
    <tr>
      <td class="col_s"><%= form.label 'Name' %></td>
      <td class="col_l"><%= form.text_field :name, :class=>"form_l" %></td>
    </tr>
    <tr>
      <td class="col_s"><%= form.label 'Stadt' %></td>
      <td class="col_l"><%= form.text_field :address, :class=>"form_l" %></td>
    </tr>
    <tr>
    <td class="col_s"><%= form.label 'Spezialisierungen (Mehrfachauswahl möglich)' %></td>
    <td class="col_l"><%= form.select :tags, Restaurant.tag_types.keys, {  }, { :multiple => true, :size => 5, :class=>"form_l" } %></td>
    </tr>
    <tr>
      <td class="col_s"><%= form.label 'Logo (frei lassen um keine Änderung vorzunehmen)' %></td>
      <td class="col_l"><%= form.file_field :profile_picture, :class=>"form_l" %></td>
    </tr>
  </table>
  <div>
    <%= form.submit 'Bestätigen', class: "button" %>
  </div>
<% end %>
