<div id="<%= dom_id restaurant %>">

  <% if restaurant.profile_picture.attached? %>
    <%= image_tag(restaurant.profile_picture) %>
  <% end %>
  <h2><%= restaurant.name %></h2>
  <p>
    <%= restaurant.address %>
  </p>

</div>
