<h1><%= @restaurant.name %></h1>
<%= render "form", restaurant: @restaurant %>
<hr>
<div>
  <%= button_to "Restaurant löschen", @restaurant, class: "button", method: :delete %>
  <br>
  <%= button_to "Speisekarte bearbeiten", menu_edit_path(restaurant_id: @restaurant), class: "button", method: 'get' %>
  <br>
  <%= button_to "Abbrechen", dashboard_path(user_id: current_user), class: "button", method: 'get' %>
</div>
