<%= form_tag(restaurants_url, method: 'get') do %>
  <strong><%= label_tag('Stadt') %></strong>
  <br>
  <%= text_field_tag(:address, value = @restaurants_city, :class => "form") %>
  <br>
  <strong><%= label_tag('Spezialisierung') %></strong>
  <br>
  <%= select_tag(:tags, options_for_select(Restaurant.tag_types), { :prompt => "Alle Gerichte", :class => "form" }) %>
  <br>
  <%= submit_tag('Suchen', :class => "button") %>
<% end %>
<br>
<%= button_to "Filter zurücksetzen", restaurants_path, class: "button", method: 'get' %>
<hr>
<h1><%= @restaurants_title %></h1>
<hr>
<div id="restaurants">
  <% @restaurants.each do |restaurant| %>
    <% unless restaurant.dishes.empty? %>
      <%= render restaurant %>
      <%= button_to "Hier bestellen", menu_path(restaurant_id: restaurant), class: "button", method: 'get' %>
      <hr>
    <% end %>
  <% end %>
</div>