.commontator .comment {
  &, .body blockquote {
    border: none;
    border-top: 1px solid;
    border-left: 1px solid;

    font-weight: normal;
    color: #000;
  }

  & {
    clear: both;

    margin: 15px 0;
    border-color: #DDD;
    padding: 0;

    font-style: normal;
  }

  .section {
  	clear: both;

    margin: 5px 7px;
  }

  .author {
    font-size: 110%;
  }

  .actions {
    font-size: 90%;
  }

  .avatar {
    float: left;

    margin-right: 7px;
  }

  .votes {
    float: right;

    margin-left: 7px;

    text-align: center;

    input, img {
      background-color: transparent;
    }
  }

  .upvote, .downvote {
    display: block;

    height: 18px;

    margin: 5px 0;
  }

  .like {
    float: left;

    margin: 0 5px;
  }

  .vote-count {
    font-size: 110%;
  }

  .body {
    overflow: hidden;

    blockquote {
      border-color: #CCC;
      padding: 5px 7px;

      background-color: #EEE;

      font-style: italic;
    }
  }

  .reply, .timestamp {
    font-size: 90%;
  }

  .timestamp {
    color: #666;
  }

  .error-explanation {
    margin-bottom: 10px;

    h3 {
      margin-top: 5px;
    }

    ul {
      list-style-position: inside;
    }
  }

  .pagination {
    margin: 10px 7px;
  }
}

div.page-entries-info {
  text-align: center;
}

div.new-comment {
  background: #666666;
  text-align: center;
}