<!DOCTYPE html>
<html>
<head>
  <title>Deliverando</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= favicon_link_tag 'deliverando_icon.png' %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body>
<section class="content">
  <% if notice %>
    <aside id="notice"><%= notice %></aside>
  <% end %>
  <div class="sidenav">
    <%= image_tag 'deliverando_logo.png', alt: 'deliverando', :id => "img_logo" %>
    <ul>
      <% if user_signed_in? %>
        <li><%= button_to "Startseite", restaurants_path, class: "button_sidenav", method: 'get' %></li>
        <% unless Restaurant.where(user: current_user).empty? %>
          <li><%= button_to "Meine Restaurants", dashboard_path(user_id: current_user), class: "button_sidenav", method: 'get' %></li>
        <% end %>
        <% unless Order.where(user: current_user).empty? %>
          <li><%= button_to "Meine Bestellungen", orders_path, class: "button_sidenav", method: 'get' %></li>
        <% end %>
        <hr>
        <li><%= button_to "Mein Profil", edit_user_registration_path, class: "button_sidenav", method: 'get' %></li>
        <li><%= button_to "Ausloggen", destroy_user_session_path, class: "button_sidenav", :method => :delete %></li>
        <hr>
        <li><%= button_to "Neues Restaurant listen", new_restaurant_path, class: "button_sidenav", method: 'get' %></li>

      <% end %>
    </ul>
  </div>
  <%= yield %>
</section>
</body>
</html>
