/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require commontator/application
 */

@import "font-awesome";

body {
  margin: 0;
  padding: 0;
  background: #121212;
  color: #f0f0f0
}

div.grid_container {
  justify-content: center;
  display: grid;
  grid-template-columns: 32% 32% 32%;
  column-gap: 1%;
  row-gap: 1%;
  margin-top: 10px;
}

div.user_mini_profile {
  display: grid;
  grid-template-columns: 30% 60%;
  column-gap: 2%;
  padding: 5px;
  border: thin solid #666666;
  border-radius: 5px;
  background: #212121;

  p {
    margin: 10px;
    font-size: 16px;
  }
}

div.login_container {
  text-align: center;
  margin-bottom: 50px;

  div {
    scale: 120%;
  }

  div#error_explanation {
    text-align: left;
    margin: 0 auto;
    color: #121212;
  }

  div.field_with_errors {
    margin: 0 auto;
  }

  div.field {
    padding: 30px;
  }

  input#post_title {
    background-color: #333333;
  }

  textarea {
    background-color: #333333;
  }
}

p.notice {
  scale: 130%;
  text-align: center;
  background-color: darkgreen;
  color: #f0f0f0;

}

p.alert {
  scale: 130%;
  text-align: center;
  background-color: darkred;
  color: #f0f0f0;
}

div.main_header {
  text-align: center; // center on mobile
  @media (min-width: 30em) {
    text-align: left; // left align on desktop
  }

  margin: 0;
  padding: 0;
  h1 {
    margin: 0;
    padding: 0;
  }
}

ul.main_header_list {
  list-style-type: none;
  background: #333333;
  margin: 0;
  padding: 8px;
  overflow: hidden;

  li {
    float: left;
  }

  li.header_title {
    margin-left: 5%;
  }

  li a {
    display: block;
    text-align: center;
    font-size: large;
    padding: 16px;
    text-decoration: none;
    color: #f0f0f0
  }

  li a:hover {
    background-color: darkorange;
  }

  ul.main_header_list_nav {
    list-style-type: none;
    margin-left: 35%;
  }

  ul.main_header_list_buttons {
    list-style-type: none;
    margin-left: 80%;
    li {
      margin-right: 5%;
      border: thin solid #666666;
      border-radius: 10px;
    }

    li a:hover {
      background-color: darkorange;
      border-radius: 10px;
    }
  }
}

ul.home_header{
  list-style-type: none;
  background: #212121;
  margin: 0;
  padding: 0;
  overflow: hidden;

  li {
    float: left;
  }

  li.header_search {
    margin-left: 3%
  }

  li a {
    display: block;
    text-align: center;
    font-size: large;
    padding: 16px;
    text-decoration: none;
    color: #f0f0f0
  }

  li a:hover {
    background-color: darkorange;
  }

  ul.home_header_filters {
    list-style-type: none;
    margin-left: 20%;

    li {
      width: 33%;
      border-right: thin solid #666666;
      border-left: thin solid #666666;
    }
  }

}

a.sort_link.desc {
  background-color: darkorange;
}
a.sort_link.asc {
  background-color: darkorange;
}

div.button {
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}

div.button.show_delete_button {
  background: #f32525;
  border: thick solid #d31010;
}

div.button.show_edit_button {
  background: #4141fa;
  border: thick solid #2c2cd3;
}

div.button.back_button {
  position: absolute;
  left: 20px;
  padding: 20px;
  background: #333333;
  border: thick solid #666666;
}

div.field_container {
  text-align: center;

  div {
    scale: 120%;
  }

  div#error_explanation {
    text-align: left;
    margin: 0 auto;
    color: #121212;
  }

  div.field_with_errors {
    margin: 0 auto;
  }

  div.field {
    padding: 30px;

  }

  input#post_title {
    color: #f0f0f0;
    background-color: #333333;
  }


  textarea {
    color: #f0f0f0;
    background-color: #333333;
  }
}