// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

div.post_container {
  float: left;
  margin-top: .5%;

  text-align: center;
  background: #333333;
  border: thick solid #666666;
  border-radius: 6px;
}