<article>
  <h2><%= "Warenkorb" %></h2>
  <h3><%=  %></h3>
  <table>
    <%= render(cart.line_items) %>
    <tfoot>
    <tr>
      <th colspan="2">Summe:</th>
      <td class="price"><%= number_to_currency(cart.total_price, unit: :€, format: "%n %u") %></td>
    </tr>
    </tfoot>
  </table>
  <div class="actions">
    <br>
    <%= button_to 'Warenkorb leeren', cart,
                  class: "button",
                  method: :delete,
                  data: { confirm: 'Sind Sie sicher?' } %>
    <br>
    <%= button_to 'Bestellen', order_new_path(restaurant_id: cart.restaurant.id),
                  method: :get,
                  class: "button" %>
  </div>
</article>
